body {
  font-family: "Courier New", monospace;
}

.ticket {
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 300px;
  position: relative;
  cursor: default;
  margin-bottom: 10px;
}

.ticket-header {
  padding: 1.5rem;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: rgb(124, 170, 222);
  /* background: linear-gradient(135deg, #a0b5fb 0%, #7ef6c2 100%); */
  row-gap: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.ticket-venue {
  font-size: 14px;
  font-weight: bold;
}

.ticket-artist {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.ticket-date {
  font-size: 16px;
}

.ticket-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.ticket-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  row-gap: 20px;
  width: 100%;
}

.other-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

.other-buttons button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:bold;
  background-color: #f8f9fa;
  border: 1px solid #d2d2d2;
  padding: 5px 5px;
  border-radius: 5px;
}

.other-buttons button:hover {
  cursor: pointer;
  background-color: #eaeaea;
  transition: 0.5s;
}