.main-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: rgb(236, 217, 255);
  background-image:
    linear-gradient(to right, rgb(241, 228, 255) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(241, 228, 255) 1px, transparent 1px);
  background-size: 25px 25px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

@media (max-width: 500px) {
  .main-content {
    padding: 0.6rem;
  }
}