.setlist-container {
  background-color: rgb(243, 243, 255);
  padding: 12px;
  padding-bottom: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  overflow: hidden;
}

.setlist-container > div:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 1s ease;
  border-radius: 6px;
}

.album-image {
  border-radius: 6px;
}

.music-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(19, 1, 37);
  /* margin-top: 5rem; */
  padding: 1rem;
  color: white;
  /* height: 10px; */
}

.current-track {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 3fr;
}

.track-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artist-and-title {
  margin-left: 1rem;
  flex-grow: 1;
}

#title {
  margin: 0;
  font-weight: bold;
}

#artist {
  margin: 0;
}

.button-container {
  display: flex;
  gap: 3px;
}

.spotify-btn {
  background-color: inherit;
  color: white;
  border: none;
  border-radius: 100%;
  padding: 8px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
}

.spotify-btn:hover {
  /* background-color: rgb(60, 31, 90); */
  transform: translateY(-1px);
}

.spotify-icon-btn {
  background-color: #7caadd;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-icon-btn:hover {
  background-color: #6691c3;
  transform: scale(1.1);
}
